@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root{

--marine-blue: hsl(213, 96%, 18%);
--marine-blue-medium: hsl(213, 87%, 30%);
--purplish-blue: hsl(243, 100%, 62%);
--pastel-blue: hsl(228, 100%, 84%);
--light-blue: hsl(206, 94%, 87%);
--strawberry-red: hsl(354, 84%, 57%);
--cool-gray: hsl(231, 11%, 63%);
--medium-gray: hsl(230, 9%, 73%);
--light-gray: hsl(229, 24%, 87%);
--magnolia: hsl(217, 100%, 97%);
--alabaster: hsl(231, 100%, 99%);
--white: hsl(0, 0%, 100%);

--main-font: 'Ubuntu', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body{
    background-color: var(--magnolia);
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color: var(--white);
    width: 57rem;
    height: 37.5rem;
    display: flex;
    margin: 8rem auto;
    border-radius: 15px;

    box-shadow: 1px 11px 19px 4px rgba(238, 239, 240, 0.6);
    -webkit-box-shadow: 1px 11px 19px 4px rgba(238, 239, 240, 0.6);
    -moz-box-shadow: 1px 11px 19px 4px rgba(238, 239, 240, 0.6);
}

.container-sidebar{
    width: 274px;
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    margin: 1rem;
}

.container-sidebar-step1{
    display: flex;
    padding: 1rem 1rem 1rem 2rem;
    margin-top: 2rem;
}

.container-sidebar-step{
    display: flex;
    padding: 1rem 1rem 1rem 2rem;
}

.step-number{
    background-color: transparent;
    border: 1px solid var(--alabaster);
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    border-radius: 50%;
    margin-right: 1rem;
    font-size: .9rem;
    font-weight: 700;
    color: var(--alabaster);
}

.selected{
    background-color: var(--light-blue);
    color: var(--marine-blue);
    border: none;
}

.step-text p{
    color: var(--medium-gray);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: .2rem;
}

.step-text h2{
    color: var(--alabaster);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

/*----------Info Container------------*/

.container-info{
    padding: 3rem;
    margin: 1rem;
}

.step-header h1{
    color: var(--marine-blue);
    margin-bottom: .6rem;
}

.step-header{
    margin-bottom: 2rem;
}
.step-header p{
    color: var(--medium-gray);
}

.step1-form{
    display: flex;
    flex-direction: column;
}

.step1-form label{
    color: var(--marine-blue);
    font-weight: 500;
    margin-bottom: .5rem;
}

.step1-form input{
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    padding: .8rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--marine-blue-medium);
}

.step1-form input::placeholder{
    font-weight: 500;
    color: var(--medium-gray);
}

.step1-form input:focus{
    outline: 1px solid var(--purplish-blue);
}

.step-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}

.next-step-btn{
    background-color: var(--marine-blue);
    color: var(--white);
    padding: .8rem 1.5rem;
    border-radius: .3rem;
    font-size: .9rem;
    font-weight: 400;
    border:none;
}

.next-step-btn:hover{
    cursor: pointer;
    background-color: var(--marine-blue-medium);
 
}

#step1{
    display: none;
}

.container-plans {
    display: flex;
}

.plan-div{
    width: 8rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-gray);
    padding: 1rem 1rem 1rem 1rem;
    margin-right: 1rem;
    border-radius: .6rem;
}

.plan-div:hover{
    border-color: var(--purplish-blue);
    cursor: pointer;
}

.plan-div:last-child{
    margin-right: 0;
}

.selected-plan{
    background-color: var(--magnolia);
    border-color: var(--purplish-blue);
}

.plan-img{
    margin-bottom: 2rem;
}

.plan-div_text h5{
    color: var(--marine-blue-medium);
    font-size: 1rem;
    margin-bottom: .4rem;
}

.plan-price{
    color: var(--medium-gray);
    font-size: .9rem;
}

.container-switch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--magnolia);
    border-radius:.6rem;
}

.container-switch p{
    font-weight: 500;
    font-size: .9rem;
    color: var(--cool-gray);
}


.btn-back{
    border: none;
    color: var(--cool-gray);
    background-color: transparent;
    padding: 1rem;
    font-size: .9rem;
    font-weight: 500;
}

.btn-back:hover{
    color: var(--marine-blue);
    cursor: pointer;
}

/* -------SWITCH--------- */

.switch {
    position: relative; width: 40px;
    margin: 0 1rem;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.switch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.switch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 22px; padding: 0; line-height: 22px;
    border: 2px solid var(--marine-blue); border-radius: 20px;
    background-color: var(--marine-blue);
    transition: background-color 0.1s ease-in;
}
.switch-label:before {
    content: "";
    display: block; width: 14px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 18px;
    border: 4px solid var(--marine-blue); border-radius: 20px;
    transition: all 0.1s ease-in 0s; 
}
.switch-checkbox:checked + .switch-label {
    background-color: var(--marine-blue);
}
.switch-checkbox:checked + .switch-label, .switch-checkbox:checked + .switch-label:before {
   border-color: var(--marine-blue);
}
.switch-checkbox:checked + .switch-label:before {
    right: 0px; 
}