@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root{

--marine-blue: hsl(213, 96%, 18%);
--purplish-blue: hsl(243, 100%, 62%);
--pastel-blue: hsl(228, 100%, 84%);
--light-blue: hsl(206, 94%, 87%);
--strawberry-red: hsl(354, 84%, 57%);
--cool-gray: hsl(231, 11%, 63%);
--medium-gray: hsl(230, 9%, 73%);
--light-gray: hsl(229, 24%, 87%);
--magnolia: hsl(217, 100%, 97%);
--alabaster: hsl(231, 100%, 99%);
--white: hsl(0, 0%, 100%);

--main-font: 'Ubuntu', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body{
    background-color: var(--magnolia);
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color: var(--white);
    width: 60rem;
    height: 37.5rem;
    display: flex;
    margin: 8rem auto;
    border-radius: 15px;

    box-shadow: 1px 11px 19px 4px rgba(238, 239, 240, 0.6);
    -webkit-box-shadow: 1px 11px 19px 4px rgba(238, 239, 240, 0.6);
    -moz-box-shadow: 1px 11px 19px 4px rgba(238, 239, 240, 0.6);
}

.container-img{
    width: 274px;
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    margin: 1rem;
}

.container-img-step1{
    display: flex;
    padding: 1rem 1rem 1rem 2rem;
    margin-top: 2rem;
}

.container-img-step{
    display: flex;
    padding: 1rem 1rem 1rem 2rem;
}

.step-number{
    background-color: transparent;
    border: 1px solid var(--alabaster);
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    border-radius: 50%;
    margin-right: 1rem;
    font-size: .9rem;
    font-weight: 700;
    color: var(--alabaster);
}

.selected{
    background-color: var(--light-blue);
    color: var(--marine-blue);
    border: none;
}

.step-text p{
    color: var(--medium-gray);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: .2rem;
}

.step-text h2{
    color: var(--alabaster);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}